<div class="hpanel stats">
    <div class="panel-body h-200">
        <div class="stats-title pull-left">
            <h4>App Store</h4>
        </div>
        <div class="stats-icon pull-right"> <a class="btn-star"><i class="pe-7s-star fa-2x"></i></a>
        </div>
        <div class="clearfix"></div>
        <div class="chart-docker-body flot-chart-content">
            
        </div>
        <!-- <div class="m-t-xs">
            <div class="row">
                <div class="col-xs-7">
                    <small class="stat-label">Diff</small>
                    <h4>8,882.64</h4>
                </div>
                <div class="col-xs-5">
                    <small class="stat-label">Rate</small>
                    <h4>
                        3% <i class="fa fa-level-up text-success"></i>
                    </h4>
                </div>
            </div>
        </div> -->
    </div>
    <div class="panel-footer">Apple Store, From May 9,2016 to Jun 7,2016</div>
</div>