<div class="hpanel stats">
    <div class="panel-body h-400">
        <div class="stats-title pull-left">
            <h4>Ad Expense</h4>
        </div>
        <div class="stats-icon pull-right"> <i class="pe-7s-cash fa-4x"></i>
        </div>
        <div class="clearfix"></div>
        <div class="">
            <div class="flot-chart-content" id="facebook_chart" style="padding: 0px; position: relative;">
                
            </div>
        </div>
        <div class="m-t-xs">
            <div class="row">
                <div class="col-xs-7">
                    <small class="stat-label">Cost</small>
                    <h4>$ 8,882.64</h4>
                </div>
                <div class="col-xs-5">
                    <small class="stat-label">Rate</small>
                    <h4>
                        3% <i class="fa fa-level-up text-success"></i>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">Google Play, From May 9,2016 to Jun 7,2016</div>
</div>