<!-- Vendor scripts -->
<script src="./dashboard_files/jquery.min.js"></script>
<script type="text/javascript" src="../lib/jquery.extra.js"></script>
<script src="./dashboard_files/jquery-ui.min.js"></script>
<script src="./dashboard_files/jquery.slimscroll.min.js"></script>
<script src="./dashboard_files/bootstrap.min.js"></script>
<script src="./dashboard_files/bootstrap-tour.min.js"></script>

<script src="./dashboard_files/jquery.flot.js"></script>
<script src="./dashboard_files/jquery.flot.resize.js"></script>
<script src="./dashboard_files/jquery.flot.pie.js"></script>
<script src="./dashboard_files/curvedLines.js"></script>
<script src="./dashboard_files/index.js"></script>
<script src="./dashboard_files/metisMenu.min.js"></script>
<script src="./dashboard_files/icheck.min.js"></script>
<script src="./dashboard_files/jquery.peity.min.js"></script>
<script src="./dashboard_files/index_1.js"></script>
<!-- App scripts -->
<script src="./dashboard_files/homer.js"></script>
<script src="./dashboard_files/charts.js"></script>
<script type="text/javascript" src="../lib/echarts.min.js"></script>
<script type="text/javascript" src="../lib/highcharts-4.2.5/highcharts.js"></script>
