<div class="row">
    <div class="col-lg-3">
        <div class="hpanel stats">
            <div class="panel-body h-200">
                <div class="stats-title pull-left">
                    <h4>Page Views</h4>
                </div>
                <div class="stats-icon pull-right">
                    <i class="pe-7s-battery fa-4x"></i>
                </div>
                <div class="clearfix"></div>
                <div class="m-t-xs">

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">Today</small>
                            <h4>
                                $170,20
                                <i class="fa fa-level-up text-success"></i>
                            </h4>
                        </div>
                        <div class="col-xs-6">
                            <small class="stat-label">Last week</small>
                            <h4>
                                $580,90
                                <i class="fa fa-level-up text-success"></i>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">Today</small>
                            <h4>
                                $620,20
                                <i class="fa fa-level-up text-success"></i>
                            </h4>
                        </div>
                        <div class="col-xs-6">
                            <small class="stat-label">Last week</small>
                            <h4>
                                $140,70
                                <i class="fa fa-level-up text-success"></i>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">This is standard panel footer</div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="hpanel stats">
            <div class="panel-body h-200">
                <div class="stats-title pull-left">
                    <h4>Today income</h4>
                </div>
                <div class="stats-icon pull-right">
                    <i class="pe-7s-gleam fa-4x"></i>
                </div>
                <div class="clearfix"></div>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-line-chart" style="height: 125px; padding: 0px; position: relative;">
                        <canvas class="flot-base" width="366" height="250" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 183px; height: 125px;"></canvas>
                        <div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                            <div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                                <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 30px; top: 109px; left: 35px; text-align: center;">2</div>
                                <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 30px; top: 109px; left: 74px; text-align: center;">4</div>
                                <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 30px; top: 109px; left: 113px; text-align: center;">6</div>
                                <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 30px; top: 109px; left: 152px; text-align: center;">8</div>
                            </div>
                            <div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                                <div class="flot-tick-label tickLabel" style="position: absolute; top: 97px; left: 7px; text-align: right;">0</div>
                                <div class="flot-tick-label tickLabel" style="position: absolute; top: 77px; left: 1px; text-align: right;">10</div>
                                <div class="flot-tick-label tickLabel" style="position: absolute; top: 58px; left: 1px; text-align: right;">20</div>
                                <div class="flot-tick-label tickLabel" style="position: absolute; top: 39px; left: 1px; text-align: right;">30</div>
                                <div class="flot-tick-label tickLabel" style="position: absolute; top: 20px; left: 1px; text-align: right;">40</div>
                                <div class="flot-tick-label tickLabel" style="position: absolute; top: 1px; left: 1px; text-align: right;">50</div>
                            </div>
                        </div>
                        <canvas class="flot-overlay" width="366" height="250" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 183px; height: 125px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="panel-footer">This is standard panel footer</div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="hpanel stats">
            <div class="panel-body h-200 list">
                <div class="stats-title pull-left">
                    <h4>Users Activity</h4>
                </div>
                <div class="stats-icon pull-right">
                    <i class="pe-7s-display1 fa-4x"></i>
                </div>
                <div class="m-t-xl">
                    <small>Lorem Ipsum is simply dummy text of the printing..</small>
                </div>

                <div class="progress m-t-xs full progress-small">
                    <div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar" class=" progress-bar progress-bar-success">
                        <span class="sr-only">35% Complete (success)</span>
                    </div>
                </div>
                <div class="progress m-t-xs full progress-small">
                    <div style="width: 35%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class=" progress-bar progress-bar-success">
                        <span class="sr-only">35% Complete (success)</span>
                    </div>
                </div>
                <div class="progress m-t-xs full progress-small">
                    <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-success">
                        <span class="sr-only">35% Complete (success)</span>
                    </div>
                </div>
                <div class="progress m-t-xs full progress-small">
                    <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class=" progress-bar progress-bar-success">
                        <span class="sr-only">35% Complete (success)</span>
                    </div>
                </div>

            </div>
            <div class="panel-footer">This is standard panel footer</div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="hpanel">
            <div class="panel-body text-center h-200">
                <i class="pe-7s-global fa-4x"></i>
                <h1 class="m-xs text-success">$1 208,20</h1>
                <small>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum consectetur adipiscing elit.
                </small>
            </div>
            <div class="panel-footer">This is standard panel footer</div>
        </div>
    </div>

</div>