<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>Insights | Karat</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" type="image/ico" href="../favicon.ico" />
    {% include 'dashboard/common_css.html' %}
</head>
<body class="fixed-navbar fixed-sidebar">

<!-- Simple splash screen-->
<!-- {% include 'dashboard/loading_splash.html' %} -->

<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

    <!-- Header -->
    {% include 'dashboard/header.html' %}
    <!-- Navigation -->
    {% include 'dashboard/menu.html' with {current: 'insights'} %}

<!-- Main Wrapper -->
<div id="wrapper" style="min-height: 1811px;">

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a>Dashboard</a></li>
                    <li>
                        <span>Insights</span>
                    </li>
                    <li class="active">
                        <span>Reports</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Market Insights
            </h2>
            <small>Market Insights into Global App Stores.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

<div class="row">
<div class="col-md-3">
    <div class="hpanel blog-box">
        <div class="panel-heading">
            <div class="media clearfix">
                <a class="pull-left">
                    <img src="./dashboard_files/logo.png" alt="profile-picture">
                </a>
                <div class="media-body">
                    <small>Created by: <span class="font-bold">Annie</span> </small>
                    <br>
                    <small class="text-muted">08.06.2016, 06:45 pm</small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <a> <h4>Announcing Forecast Intelligence: Predicting the Future of the App Economy</h4></a>
            <p>
                In February, Karat released our first app forecast, which introduced the use of advanced data science, industry expertise, and leading information assets to produce a view of the app economy that provides exceptional granularity. The forecast reflected how apps have ascended to become the primary way we communicate, share, shop and enjoy entertainment. We noted a trajectory of increasing downloads and revenue across countries as people around the globe embraced the app platforms of increasingly inexpensive smartphones and rising cellular data speeds.
            </p>
        </div>
        <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-twitter-square"> </i> 22 Tweet
                </span>
            <i class="fa fa-linkedin-square"> </i> 142 Share
        </div>
    </div>

    <div class="hpanel blog-box">
        <div class="panel-heading">
            <div class="media clearfix">
                <a class="pull-left">
                    <img src="./dashboard_files/logo.png" alt="profile-picture">
                </a>
                <div class="media-body">
                    <small>Created by: <span class="font-bold">Annie</span> </small>
                    <br>
                    <small class="text-muted">06.06.2016, 10:25 pm</small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <a> <h4>Top 5 Mobile Stories of the Week: 5/30–6/5</h4></a>
            <p>
                It can be challenging to keep up with the ever-evolving mobile space. With only so many hours in the week, you’re more likely to focus on your app business over keeping tabs on the industry. We’re all about saving time and sharing insights, which is why we’re bringing you this series. Get last week’s essential news, research and expert guides for mobile — in less than five minutes.
            </p>
            <p>
                This week’s roundup highlights how retail brands are using mobile apps to drive online sales, updates on Uber and Lyft’s battle for global ride-sharing dominance and the growing opportunity of mobile video.
            </p>
            <a class="btn btn-primary btn-xs" href="/insights/detail">Read more</a>
        </div>
        <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-twitter-square"> </i> 6 Tweet
                </span>
            <i class="fa fa-linkedin-square"> </i> 22 Share
        </div>
    </div>

    <div class="hpanel blog-box">
        <div class="panel-heading">
            <div class="media clearfix">
                <a class="pull-left">
                    <img src="./dashboard_files/logo.png" alt="profile-picture">
                </a>
                <div class="media-body">
                    <small>Created by: <span class="font-bold">Annie</span> </small>
                    <br>
                    <small class="text-muted">22.12.2015, 04:17 pm</small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <a> <h4>What Makes Asia’s Top Dating Apps Successful</h4></a>
            <p>
                When it comes to dating apps, Tinder leads the pack, topping the App Store’s Lifestyle category in 87 markets. Now, local apps are changing the game, sometimes even outperforming global leaders.
            </p>
            <p>
                The trend rings true in Asia, where Korean dating apps Amanda, NoonDate and I-UM all rank among the top revenue generators in our 2015 Retrospective. Additionally, Japan’s Pairs, China’s Momo, and Singapore’s Paktor all showcase unique features that appeal to local bachelors and bachelorettes.
            </p>
            <a class="btn btn-primary btn-xs"  href="/insights/detail">Read more</a>
        </div>
        <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-twitter-square"> </i> 59 Tweet
                </span>
            <i class="fa fa-linkedin-square"> </i> 167 Share
        </div>
    </div>

</div>

<div class="col-md-3">
    <div class="hpanel blog-box">
        <div class="panel-heading">
            <div class="media clearfix">
                <a class="pull-left">
                    <img src="./dashboard_files/logo.png" alt="profile-picture">
                </a>
                <div class="media-body">
                    <small>Created by: <span class="font-bold">Annie</span> </small>
                    <br>
                    <small class="text-muted">01.06.2016, 10:15 pm</small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <a> <h4>Global and Regional Players Compete for Ride-Sharing Customers in Asia</h4></a>
            <p>
                Asia currently houses more than half the planet’s population, so it’s no wonder that new business models tend to catch up quickly in this lucrative market. For the fast-growing ride-sharing industry, it’s no different. On the one hand, international giants such as Uber have poured resources into Asia with mixed results. On the other, regional competitors from each market have capitalized their local know-how to stay ahead in the race for home domination.
            </p>
            <p>One thing is for sure: The ride-sharing industry is just hitting its stride. This will be a hot space to monitor over the coming years as global partnerships and new regional players hit the market.</p>
            <a class="btn btn-primary btn-xs"  href="/insights/detail">Read more</a>
        </div>
        <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-twitter-square"> </i> 56 Tweet
                </span>
            <i class="fa fa-linkedin-square"> </i> 144 Share
        </div>
    </div>

    <div class="hpanel blog-box">
        <div class="panel-heading">
            <div class="media clearfix">
                <a class="pull-left">
                    <img src="./dashboard_files/logo.png" alt="profile-picture">
                </a>
                <div class="media-body">
                    <small>Created by: <span class="font-bold">Annie</span> </small>
                    <br>
                    <small class="text-muted">31.05.2016, 10:40 pm</small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <a> <h4>Top 5 Mobile Stories of the Week: 5/23–5/29</h4></a>
            <p>
                It can be challenging to keep up with the ever-evolving mobile space. With only so many hours in the week, you’re more likely to focus on your app business over keeping tabs on the industry. We’re all about saving time and sharing insights, which is why we’re bringing you this series. Get last week’s essential news, research and expert guides for mobile — in less than five minutes.
            </p>
            <p>
                This week’s roundup highlights how to adapt to the changing app economy and smart partnerships that are leading to higher monetization.
            </p>
        </div>
        <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-twitter-square"> </i> 32 Tweet
                </span>
            <i class="fa fa-linkedin-square"> </i> 98 Share
        </div>
    </div>

    <div class="hpanel blog-box">
        <div class="panel-heading">
            <div class="media clearfix">
                <a class="pull-left">
                    <img src="./dashboard_files/logo.png" alt="profile-picture">
                </a>
                <div class="media-body">
                    <small>Created by: <span class="font-bold">Annie</span> </small>
                    <br>
                    <small class="text-muted">18.05.2016, 02:12 am</small>
                </div>
            </div>
        </div>
        <div class="panel-image">
            <img class="img-responsive" src="./dashboard_files/p2.jpg" alt="">
            <div class="title">
                <a> <h4>Mobile Streaming</h4></a>
                <small>Worldwide Karat Index for Apps April 2016</small>
            </div>
        </div>
        <div class="panel-body">
            <p>
                Each month, the Karat Index highlights the top-performing games and apps for the iOS App Store and Google Play. Our analysis covers trends among the leading apps across countries and categories, and is the industry standard for professionals looking to compare leading apps and publishers.
            </p>
            
        </div>
        <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-twitter-square"> </i> 10 Tweet
                </span>
            <i class="fa fa-linkedin-square"> </i> 62 Share
        </div>
    </div>

</div>

<div class="col-md-3">
    <div class="hpanel blog-box">
        <div class="panel-heading">
            <div class="media clearfix">
                <a class="pull-left">
                    <img src="./dashboard_files/logo.png" alt="profile-picture">
                </a>
                <div class="media-body">
                    <small>Created by: <span class="font-bold">Annie</span> </small>
                    <br>
                    <small class="text-muted">25.05.2016, 11:46 pm</small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <a> <h4>The Power of Celebrity IPs for App Monetization</h4></a>
            <p>
                Confirmed by Kim Kardashian herself — celebrity apps are a hit. Mobile Role-Playing Games (RPGs) give super fans and curious gamers alike the chance to play as a rising socialite, aspiring singer or even beginning chef with coaching and guidance from their favorite celebrity.
            </p>
            <p>
                Most of these games operate on a freemium system with free gameplay and the option to speed up completing tasks, or unlock the latest premium gear through in-app purchases.
            </p>
        </div>
        <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-twitter-square"> </i> 66 Tweet
                </span>
            <i class="fa fa-linkedin-square"> </i> 250 Share
        </div>
    </div>

    <div class="hpanel blog-box">
        <div class="panel-heading">
            <div class="media clearfix">
                <a class="pull-left">
                    <img src="./dashboard_files/logo.png" alt="profile-picture">
                </a>
                <div class="media-body">
                    <small>Created by: <span class="font-bold">Karat</span> </small>
                    <br>
                    <small class="text-muted">25.05.2016, 08:34 pm</small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <a> <h4>Mobile is Now the First Screen</h4></a>
            <p>
                As mobile continues to grow, it’s fundamentally changing the way we consume media, interact with others (including brands) and ultimately how we live our lives.
            </p>
            <p>
                Change has come quickly. Ten years ago, before the release of the iPhone, it would have been hard to predict the extent to which mobile would change the consumer landscape. As a result, many slower-moving industries have yet to fully exploit its opportunities.
            </p>
            <a class="btn btn-primary btn-xs"  href="/insights/detail">Read more</a>
        </div>
        <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-twitter-square"> </i> 10 Tweet
                </span>
            <i class="fa fa-linkedin-square"> </i> 183 Share
        </div>
    </div>

    <div class="hpanel blog-box">
        <div class="panel-heading">
            <div class="media clearfix">
                <a class="pull-left">
                    <img src="./dashboard_files/logo.png" alt="profile-picture">
                </a>
                <div class="media-body">
                    <small>Created by: <span class="font-bold">Annie</span> </small>
                    <br>
                    <small class="text-muted">17.05.2015, 10:25 pm</small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <a> <h4>Top 5 Mobile Stories of the Week: 5/16–5/22</h4></a>
            <p>
               It can be challenging to keep up with the ever-evolving mobile space. With only so many hours in the week, you’re more likely to focus on your app business over keeping tabs on the industry. We’re all about saving time and sharing insights, which is why we’re bringing you this series. Get last week’s essential news, research and expert guides for mobile — in less than five minutes.
            </p>
            <p>
                This week’s roundup highlights all things Google — with updates from I/O and experts — along with Apple’s newest accelerator placement announcement.
            </p>
        </div>
        <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-twitter-square"> </i> 8 Tweet
                </span>
            <i class="fa fa-linkedin-square"> </i> 22 Share
        </div>
    </div>

</div>

<div class="col-md-3">
    <div class="hpanel blog-box">
        <div class="panel-heading">
            <div class="media clearfix">
                <a class="pull-left">
                    <img src="./dashboard_files/logo.png" alt="profile-picture">
                </a>
                <div class="media-body">
                    <small>Created by: <span class="font-bold">Annie</span> </small>
                    <br>
                    <small class="text-muted">23.05.2016, 02:12 am</small>
                </div>
            </div>
        </div>
        <div class="panel-image">
            <img class="img-responsive" src="./dashboard_files/p1.png" alt="">
            <div class="title">
                <a> <h4>Top 5 Mobile</h4></a>
                <small>5/16–5/22</small>
            </div>
        </div>
        <div class="panel-body">
            <p>
                It can be challenging to keep up with the ever-evolving mobile space. With only so many hours in the week, you’re more likely to focus on your app business over keeping tabs on the industry. We’re all about saving time and sharing insights, which is why we’re bringing you this series. Get last week’s essential news, research and expert guides for mobile — in less than five minutes.
            </p>
            <p>
                This week’s roundup highlights all things Google — with updates from I/O and experts — along with Apple’s newest accelerator placement announcement.
            </p>
            <a class="btn btn-primary btn-xs"  href="/insights/detail">Read more</a>
        </div>
        <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-twitter-square"> </i> 10 comments
                </span>
            <i class="fa fa-linkedin-square"> </i> 62 views
        </div>
    </div>

    <div class="hpanel blog-box">
        <div class="panel-heading">
            <div class="media clearfix">
                <a class="pull-left">
                    <img src="./dashboard_files/logo.png" alt="profile-picture">
                </a>
                <div class="media-body">
                    <small>Created by: <span class="font-bold">Annie</span> </small>
                    <br>
                    <small class="text-muted">20.05.2016, 06:45 pm</small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <a> <h4>News Apps in Europe: National News Brands Dominate the Category</h4></a>
            <p>
                In Europe, newspaper readership is decreasing as circulation dwindles. At the same time, mobile usage is increasing and there are signs that people are spending more time with long-form news content on their smartphones.
            </p>
            <p>
                Is the future for Europe’s news companies on mobile? Using Karat Intelligence, we looked at the iOS App Store’s News category in various European countries — and we found publishers in their home markets command a massive advantage.
            </p>
            <a  href="/insights/detail">Read more</a>
        </div>
        <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-twitter-square"> </i> 22 Tweet
                </span>
            <i class="fa fa-linkedin-square"> </i> 142 Share
        </div>
    </div>

    <div class="hpanel blog-box">
        <div class="panel-heading">
            <div class="media clearfix">
                <a class="pull-left">
                    <img src="./dashboard_files/logo.png" alt="profile-picture">
                </a>
                <div class="media-body">
                    <small>Created by: <span class="font-bold">Annie</span> </small>
                    <br>
                    <small class="text-muted">18.05.2016, 10:15 pm</small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <a> <h4>Mobile Streaming Shows Its Monetization Potential</h4></a>
            <p>
                Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
            <p>
                Nunc pellentesque dui nisi, vel convallis quam malesuada ornare. Nunc ac purus velit. Cras aliquet porta sodales. Proin blandit ornare bibendum.
            </p>
            <a class="btn btn-primary btn-xs"  href="/insights/detail">Read more</a>
        </div>
        <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-twitter-square"> </i> 56 Tweet
                </span>
            <i class="fa fa-linkedin-square"> </i> 144 Share
        </div>
    </div>

</div>
</div>

    </div>

    <!-- Right sidebar -->
    <div id="right-sidebar" class="animated fadeInRight">

        <div class="p-m">
            <button id="sidebar-close" class="right-sidebar-toggle sidebar-button btn btn-default m-b-md"><i class="pe pe-7s-close"></i>
            </button>
            <div>
                <span class="font-bold no-margins"> Analytics </span>
                <br>
                <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>
            </div>
            <div class="row m-t-sm m-b-sm">
                <div class="col-lg-6">
                    <h3 class="no-margins font-extra-bold text-success">300,102</h3>

                    <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                </div>
                <div class="col-lg-6">
                    <h3 class="no-margins font-extra-bold text-success">280,200</h3>

                    <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
        </div>
        <div class="p-m bg-light border-bottom border-top">
            <span class="font-bold no-margins"> Social talks </span>
            <br>
            <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>
            <div class="m-t-md">
                <div class="social-talk">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="./dashboard_files/logo.png" alt="profile-picture">
                        </a>

                        <div class="media-body">
                            <span class="font-bold">John Novak</span>
                            <small class="text-muted">21.03.2015</small>
                            <div class="social-content small">
                                Injected humour, or randomised words which don't look even slightly believable.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social-talk">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="./dashboard_files/logo.png" alt="profile-picture">
                        </a>

                        <div class="media-body">
                            <span class="font-bold">Mark Smith</span>
                            <small class="text-muted">14.04.2015</small>
                            <div class="social-content">
                                Many desktop publishing packages and web page editors.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social-talk">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="./dashboard_files/logo.png" alt="profile-picture">
                        </a>

                        <div class="media-body">
                            <span class="font-bold">Marica Morgan</span>
                            <small class="text-muted">21.03.2015</small>

                            <div class="social-content">
                                There are many variations of passages of Lorem Ipsum available, but the majority have
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-m">
            <span class="font-bold no-margins"> Sales in last week </span>
            <div class="m-t-xs">
                <div class="row">
                    <div class="col-xs-6">
                        <small>Today</small>
                        <h4 class="m-t-xs">$170,20 <i class="fa fa-level-up text-success"></i></h4>
                    </div>
                    <div class="col-xs-6">
                        <small>Last week</small>
                        <h4 class="m-t-xs">$580,90 <i class="fa fa-level-up text-success"></i></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <small>Today</small>
                        <h4 class="m-t-xs">$620,20 <i class="fa fa-level-up text-success"></i></h4>
                    </div>
                    <div class="col-xs-6">
                        <small>Last week</small>
                        <h4 class="m-t-xs">$140,70 <i class="fa fa-level-up text-success"></i></h4>
                    </div>
                </div>
            </div>
            <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.
                Many desktop publishing packages and web page editors.
            </small>
        </div>

    </div>

    <!-- Footer-->
    {% include 'dashboard/footer.html' %}

</div>



<!-- Vendor scripts -->
<!-- Common Script -->
<script type="text/javascript" src="./tesbp/bro.bigpipe.js"></script>
{% include 'dashboard/common_script.html' %}

<script type="text/javascript">

// The `karatBP` is the bigpipe-id, it should match the Backend definition. Or you can use '{{_bigpipe_id}}' directly.
var robotBP = new Bigpipe('robotBP')

// You can subscribe the events which match the backend API `fire`, like fire('tag', data), then you can `on('tag')` in FE js.
robotBP.on('tag')
.then(function (data) {
    console.info(data);

    $('#wrapper').html(data.html)
})

</script>
