<aside id="menu">
    <div id="navigation">
        <div class="profile-picture">
            <a>
                <img src="./dashboard_files/profile.jpg" class="img-circle m-b" alt="logo"></a>
            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">Napoléon Bonaparte</span>
                <div class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <small class="text-muted">
                            NB@appannie.com <b class="caret"></b>
                        </small>
                    </a>
                    <ul class="dropdown-menu animated flipInX m-t-xs">
                        <li>
                            <a>Intelligence</a>
                        </li>
                        <li>
                            <a>Data Avaliablity</a>
                        </li>
                        <li>
                            <a>Users</a>
                        </li>
                        <li>
                            <a>Announcements</a>
                        </li>
                        <li>
                            <a>FAQ</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a>Analytics & Advertising</a>
                        </li>
                        <li>
                            <a>Connections</a>
                        </li>
                        <li>
                            <a>Apps</a>
                        </li>
                        <li>
                            <a>Sharing</a>
                        </li>
                        <li>
                            <a>Backup Data</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a>App Annie Account</a>
                        </li>
                        <li>
                            <a>Teams</a>
                        </li>
                        <li>
                            <a>User Setting</a>
                        </li>
                        <li>
                            <a>Services</a>
                        </li>
                        <li>
                            <a>API key</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a>Explore App Annie</a>
                        </li>
                        <li>
                            <a>Support</a>
                        </li>
                        <li>
                            <a>Logout</a>
                        </li>
                    </ul>
                </div>
                <div id="sparkline1" class="small-chart m-t-sm">
                    <canvas width="119" height="30" style="display: inline-block; width: 119px; height: 30px; vertical-align: top;"></canvas>
                </div>
                <div>
                    <h4 class="font-extra-bold m-b-xs">$106,800</h4>
                    <small class="text-muted">Your income from 2 Apps.</small>
                </div>
            </div>
        </div>
        <ul class="nav" id="side-menu">
            <li class="active current">
                <a>
                    <span class="nav-label">Dashboard</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="nav-label">Store Stats</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a>Top Charts</a>
                    </li>
                    <li>
                        <a>Top Matrix</a>
                    </li>
                    <li>
                        <a>Keyword Ranks</a>
                    </li>
                    <li>
                        <a>Store Stats Pro</a>
                    </li>
                    <li>
                        <a>App DB</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>
                    <span class="nav-label">Index</span>
                    <span class="label label-warning pull-right">New</span>
                </a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a>Rankings</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>
                    <span class="nav-label">Intelligence</span>
                    <!-- <span class="fa arrow"></span> -->
                    <span class="label label-success pull-right">Prem</span>
                </a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a>Custom Reports Compare Apps</a>
                    </li>
                    <li>
                        <a>Downloads & Revenue Top Apps</a>
                    </li>
                    <li>
                        <a>Downloads & Revenue Project detail</a>
                    </li>
                    <li>
                        <a>Usage & Engagement Top Apps</a>
                    </li>
                    <li>
                        <a>Usage & Engagement User Retention</a>
                    </li>
                    <li>
                        <a>Advertisinig & Creatives Marketing Intelligence</a>
                    </li>
                    <li>
                        <a>Subscription Data Avaliability</a>
                    </li>
                    <li>
                        <a>Subscription Users</a>
                    </li>
                    <li>
                        <a>Learn API</a>
                    </li>
                    <li>
                        <a>Learn Announcements</a>
                    </li>
                    <li>
                        <a>Learn FAQ</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>
                    <span class="nav-label">App Analytics</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a>Dashboard</a>
                    </li>
                    <li>
                        <a>Downloads</a>
                    </li>
                    <li>
                        <a>Revenue</a>
                    </li>
                    <li>
                        <a>Usage</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>
                    <span class="nav-label">Ad Analytics</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a>Ad Revenue</a>
                    </li>
                    <li>
                        <a>Ad Expendse</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/insights">
                    <span class="nav-label">Insights</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="nav-label">Products</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a>Market Data Intelligence</a>
                    </li>
                    <li>
                        <a>Store Stats & ASO</a>
                    </li>
                    <li>
                        <a>App Analytics Platform</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="http://webapplayers.com/homer_admin-v1.9/options.html">
                    <span class="nav-label">Pricing</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a>Market Data</a>
                    </li>
                    <li>
                        <a>App Analytics Platform</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>
                    <span class="nav-label">Blog</span>
                </a>
            </li>
            <li>
                <a href="http://webapplayers.com/homer_admin-v1.9/grid_system.html">
                    <span class="nav-label">About</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a>About</a>
                    </li>
                    <li>
                        <a>Leadership</a>
                    </li>
                    <li>
                        <a>Jobs</a>
                    </li>
                    <li>
                        <a>Customers</a>
                    </li>
                    <li>
                        <a>Partnerships</a>
                    </li>
                    <li>
                        <a>Press</a>
                    </li>
                    <li>
                        <a>contact</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>
</aside>