<div id="x_robot_ctn" x-robot-display="hide" x-moveing="false" class="x-robot-ctn" style="display: none;">
  <div data-depth="0.10" id="x_robot_body" class="x-robot-body layer">
    <img class="x-rb-body-img" style="width: 70px;" src="/static/app/robot/img/0.png" />
  </div>
  <!-- <div id="x_rb_menugroup" class="tooltip right">
    <div class="x-rb-menuitem x_rb_mitem_0">test menu</div>
  </div>
  -->
  <!-- dialog -->
  <div id="x_robot_dialog" class="tooltip right x-rb-dialog layer" data-depth="0.60" style="display: none;">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner span6">
      <ul>
        <li class="x-rb-wordtip">What can I do for you?</li>
        <li class="rb-input-li">
          <input class="x-rb-dialog-input" type="search" x-webkit-speech speech placeholder="Please..." />
          <button id="speaker_btn" class="robot-speech">M</button>
          <a id="x_rb_btngo" href="javascript:;" class="btn x-rb-btn-go">
            <i class="pe-7s-right-arrow go-icon"></i>
            <!-- <img class="x-rb-goimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMBAMAAABLmSrqAAAAA3NCSVQICAjb4U/gAAAAElBMVEX///9mZmZmZmZmZmZmZmZmZmahgyBVAAAABnRSTlMARHeIu//wKLP7AAAACXBIWXMAAAsSAAALEgHS3X78AAAAFnRFWHRDcmVhdGlvbiBUaW1lADEwLzE2LzEyPWnB/wAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAxSURBVAiZY2BgYBBigABXBQhtGgShmUOhAqpAgVAwUIDSBhCFwVB1KFwGVwiXQRiIAYl2CFoQXdB/AAAAAElFTkSuQmCC" /> -->
          </a>
        </li>
        <li>
          <div class="x_rbchatcont"></div>
        </li>
      </ul>
    </div>
  </div>
</div>